@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{

    --background: #000000;
    --red: #C20000;
    --blue: #001F70;
    --gradient: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
    --font: 'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: var( --font );
    font-size: 16px;
    background-color: var( --background );
}
img{
    width: 100%;
}
.topo{
    width: 100%;
    height: 5em;
    /* background-color: azure; */
}
.content{
    width: 95%;
    height: 100%;
    max-width: 75em;
    margin: auto;
    /* background-color: burlywood; */
}
.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topo img{
    max-width: 21.18em;

}
.menu{
    width: 100%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    color:#fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.9em 0.5em;
    text-transform: uppercase;
}
.menu a:hover{
    background-color: var(--red);
}
#menu-bars{
    display: none;
}
.banner{
    width: 100%;
    position: relative;
}
.banner-position{
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 255, 0.377); */
    position: absolute;
    top: 0;
}
.banner-content{
    width: 95%;
    height: 100%;
    /* background-color: rgba(222, 184, 135, 0.356); */
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.banner-text{
    width: 50%;
    height: 100%;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.banner-text h1{
    font-size: 5.62em;
}
.banner-text p{
    font-size: 1.87em;
}
.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}
.jogos{
    width: 100%;
    height: 7.5em;
    color: #fff;
}
.jogos ul{
    list-style-type: none;
    width: 100%;
}
.jogos ul a:hover img{
    transition: 0.2s;
    transform: scale(1.1);
}

.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    position: relative;

}
.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.angulation{
    width: 100%;
    height: 24em;
    background-color: #000;
    transform: skewY(-3deg)
}
.about-position{
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 0, 0, 0.397); */
    position: absolute;
    top: 0;
}
.about-text{
    width: 50%;
    color: #fff;
    text-align: justify;
}
.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;

}
.about-text p{
    font-size: 1.125em;
    margin-bottom: 1em;
}
.about-position img{
    max-width: 31.87em;
}
.jogos-aovivo, .jogos-embreve{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.75em;
    /* border: solid 1px #fff; */
    text-transform: uppercase;
}
.jogos-aovivo::after{
    content:'';
    height: 2.666em;
    border: solid 0.088em #fff;
    margin: 0 1em;
}
.partida{
    width: 9.5em;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1em;
    
}
.partida img{
    max-width: 1.8em;
}
.time1, .time2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;   
}
.time1 img{
    margin-left: 0.5em;
}
.time2 img{
    margin-right: 0.5em;
}
.noticias{
    width: 100%;
    height: 90%;
    background-color: #1E1C21;
    position: relative;
}
.noticia-content{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.local-noticia{
    width: 75%;
    height: auto;
    color: #fff;
    padding: 4.3% 5%;
}
.local-noticia h2{
    text-transform: uppercase;
}
.block-noticia img{
    width: 14.8125em;
    height: 9.375em;
}
.block-noticia{
    width: 14.8125em;
    height: 22.75em;
    background: var(--gradient);
    box-shadow: 1px 1px 20px 4px #000000;
    margin-right: 5em;
    margin-bottom: 3em;
}
.block-noticia h2{
    margin-left: 0.5em;
    text-transform: uppercase;
}
.block-noticia p{
    margin-left: 0.8em;
}
.noticia-content2{
    display: flex;
    align-items: flex-start;
}
.horario-position{
    width: 20%;
    height: 82%;
    /* background-color: rgba(255, 0, 0, 0.377); */
    position: absolute;
    top: 6.2%;
    left: 67%;
}
.content-horarios{
    margin: auto;
    text-transform: uppercase;
}
.horario-text{
    display: flex;
    flex-direction: row;
}
.horario{
    width: 100%;
    height: 100%;
    background: var(--gradient);
    box-shadow: 1px 1px 20px 4px #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}
.horario-text img{
    width: 2.4375em;
    height: 2.1875em;
    margin: 0em 0.5em;
}
.rodape{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content-rodape{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}
.rodape-posiçao{
    display: flex;
}
.rodape-links{
    width: 10.5em;
    color: #fff;
    margin-left: 5em;
}
.rodape-links h2{
    font-size: 1.5em;
}
.rodape-links li{
    margin-left: 2em;
}
.rodape-links ul{
    margin-top: 0.5em;
}
.rodape-links ul a{
    text-decoration: none;
    color: #fff;    
}
.rodape-logo{
    min-width: 5.588125em;
    max-width: 18.75em;
    margin: 0 4.7em;
}
.newslatter{
    margin-right: 11em;
}
.newslatter h2{
    font-size: 0.875em;
    margin-bottom: 0.5em;
    color: #fff;
}
.newslatter form{
    display: flex;
}
.newslatter input[type="email"]{
    width: 12.5em;
    height: 2.5em;
    font-size: 1.1em;
    padding-left: 1em;
}
.newslatter input[type="email"]::placeholder{
    color: rgb(102, 102, 102);
    font-weight: bold;
}
.newslatter input[type="submit"]{
    width: 9.75em;
    height: 2.5em;
    font-size: 1.1em;
    background-color: #8326EF;
    color: #fff;
    text-transform: uppercase;
}
.siga-nos{
    margin-top: 1em;
    margin-right: 11em;
    color: #fff;
    display: flex;
}
/* página cadastro */

/* Até 1200px */
@media screen and (max-width: 74.93em){
    .menu{
        margin-left: 0.5em;
    }
    .menu a{
        font-size: 1.3em;
    }
    .banner-text{
        margin-right: 1em;
    }
    .jogos{
        max-width: 70em;
        margin-left: 2em;
    }
    .jogos ul a:hover img{
        transition: 0.2s;
        transform: scale(0.8);
    }    
    .about-text{
        margin-left: 3em;
    }
    .about-position img{
        max-width: 27em;
    }
    .jogos-aovivo, .jogos-embreve{
        font-size: 1.5em;
    }
    .jogos-embreve{
        margin-right: 2em;
    }
    .horario-position{
        top: 3.5%;
    }
    .content-rodape{
        width: auto;
    }
    .rodape-logo{
        margin: 0 1em;
    }
    .newslatter{
        margin-right: 6em;
    }
}
@media screen and (max-width: 73em){
    .banner-text{
        width: 60%;
        margin-right: -1em;
    }
    .banner-text h1{
        font-size: 4.5em;
    }
    .banner-text p{
        font-size: 1.5em;
    }
    .banner-text a{
        font-size: 1.5em;
    }
    .jogos{
        max-width: 70em;
        margin-left: 1em;
    }
}
@media screen and (max-width: 65.6875em){
    .menu{
        margin-right: 2em;
    }
    .menu a{
        font-size: 1.2em;
    }
    .jogos{
        max-width: 58em;
        margin-left: 2em;
    }
    .jogos ul a:hover img{
        transition: 0.2s;
        transform: scale(0.5);
    }
    .about-position img{
        max-width: 24em;
        margin-right: 1em;
    }
    .jogos-aovivo, .jogos-embreve{
        font-size: 1.32em;
    }
    .jogos-aovivo::after{
        border: solid 0.095em #fff;
    }
    .newslatter input[type="email"]{
        width: 12em;
        font-size: 1em;
    }
    .newslatter input[type="submit"]{
        width: 8em;
        font-size: 1em;
    }
    .newslatter h2{
        font-size: 0.8em;
    }
    .siga-nos{
        margin-right: 5.5em;
    }
}
/* Até 991px */
/* @media screen and (max-width: 61.937em){

} */
@media screen and (max-width:60.6875em){
    #menu-bars{
        display: unset;
        color: #fff;
        display: flex;
        justify-content: flex-end;
        display: block;
        padding: 2em 2em;
    }
    .topo img{
        display: flex;
    }
    .topo ul{
        width: 50%;
        max-width: 100%;
        height: 22em;
        position: fixed;
        justify-content: space-around;
        flex-direction: column;
        background-color: #000;
    }
    #links{
        width: 100%;
        z-index: 99;
        display: none;
        display: flex;
        position: absolute;
        left: 0em;
        top: 5.0625em;
    }
    .menu{
        display: flex;
        justify-content: flex-end;
    }
    .menu ul{
        display: none;
    }
    .menu ul a{
        font-size: 0.8em;
        padding: 2em 12em;
    }
    .menu a:hover{
        background-color: red;
    }
    .banner-text h1{
        font-size: 4em;
    }
    .banner-text p{
        font-size: 1.2em;
    }
    .banner-text a{
        font-size: 1.2em;
    }
    .jogos{
        max-width: 40em;
        margin-left:4em;
    }
    .about-text{
        margin-left: 5em;
        font-size: 0.75em;
    }
    .about-position img{
        max-width: 22em;
    }
    .jogos-aovivo{
        margin-left: 2em;
    }
    .jogos-aovivo, .jogos-embreve{
        font-size: 0.9em;
    }
    .jogos-aovivo::after{
        border: solid 0.14em #fff;
    }
    .margin-h2{
        margin-left: 2em;
    }
    .noticia-content{
        margin-left: 3em;
    }
    .horario-position{
        width: 30%;
        top: 1.4%;
        left: 55%;
    }
    .rodape-links h2{
        font-size: 1em;
    }
    .rodape-links li{
        font-size: 0.875em;
    }
    .links2{
        margin-left: -1.5em;
    }
    .rodape-logo{
        margin-left: -3em;
    }
    .newslatter .margin-h2{
        font-size: 1em;
    }
    .newslatter input[type="email"]{
        width: 14em;
        font-size: 0.7em;
    }
    .newslatter input[type="submit"]{
        width: 10em;
        font-size: 0.7em;
    }
    .siga-nos{
        font-size: 0.7em;
        margin-right: 9em;
    }
}
/* Até 767px */
/* @media screen and (max-width: 47.93em){

} */
@media screen and (max-width: 45.1875em){

    .banner-text h1{
        font-size: 2em;
    }
    .banner-text p{
        font-size: 0.6em;
    }
    .banner-text a{
        font-size: 0.6em;
    }
    .jogos{
        max-width: 30em;
        margin-left:3em;
    }
    .about-text{
        font-size: 0.6em;
    }
    .about-position img{
        max-width: 18em;
    }
    .jogos-aovivo{
        margin-left: 2em;
    }
    .jogos-aovivo, .jogos-embreve{
        font-size: 0.67em;
    }
    .horario{
        width: 15em;
    }
    .horario-position{
        position: unset;
        margin-left: 4em;
    }
    .rodape-links h2{
        font-size: 0.8em;
    }
    .rodape-links li{
        font-size: 0.7em;
    }
    .links2{
        margin-left: -2.5em;
    }
    .rodape-logo{
        margin-left: -4em;
    }
    .newslatter input[type="email"]{
        width: 7em;
        font-size: 0.5em;
    }
    .newslatter input[type="submit"]{
        width: 7em;
        font-size: 0.5em;
    }
    .siga-nos{
        font-size: 0.5em;
        margin-right: 10em;
    }
    .siga-nos img{
        max-width: 2.3em;        
    }
}
/* Até 575px */
/* @media screen and (max-width: 35.93em){

} */